data/*
slurm-*
*.pth
*.txt

counterfactuals/output/*
counterfactuals/utils/__pycache__/*
counterfactuals/model/__pycache__/*
counterfactuals/data/__pycache__/*
counterfactuals/explainer/__pycache__/*
counterfactuals/data/cifar-10-batches-py/*
counterfactuals/data/cifar-10-python.tar.gz
counterfactuals/data/flowers-102/*
scve-outputs/*
src/data/*
src/models/*
outputs/*
*.csv
*.jpg
*.npy
old-results/*
src/__pycache__
src/dataloader/__pycache__
src/utils/__pycache__